.roundedbox {
  background-color: white;
  border: 1px solid black;
  border-radius: var(--box-border-radius);
  padding: var(--innerbox-spacing);
}

label.associated-carac {
  text-transform: capitalize !important;
  font-size: var(--font-size-s) !important;
  text-align: left;
  order: 1;
  padding-left: 1rem;
}