/* The front were downloaded from https://github.com/jonathonf/solbera-dnd-fonts */
@font-face {
  font-family: "Bookinsanity";
  src: url("/static/font/Bookinsanity.otf");
}

@font-face {
  font-family: "MrEaves";
  src: url("/static/font/Mr Eaves Small Caps.otf");
}

html,
textarea,
input {
  font-family: var(--font-family-text);
  line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
.subtitle {
  font-family: var(--font-family-headings);
}

#character-sheet {
  width: 70%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

section {
  margin-bottom: var(--interbox-spacing);
  padding: var(--innerbox-spacing);
}

label {
  text-transform: uppercase;
  font-size: var(--font-size);
}

textarea {
  font-size: var(--font-size);
  text-align: left;
  width: calc(100% - 20px - 2px);
  border-radius: var(--box-border-radius);
  resize: none;
  overflow: hidden;
  height: 15em;
}

input[type="checkbox"] {
  cursor: pointer;
}

label.carac {
  font-size: var(--font-size-ms);
  font-weight: bold;
}

label.subtitle {
  text-align: center;
  font-size: var(--font-size-ms);
}

form.charsheet div.textblock {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}

form.charsheet div.textblock label {
  text-align: center;
  border: 1px solid black;
  border-top: 0;
  font-size: var(--font-size-s);
  width: calc(100% - 20px - 2px);
  border-radius: 0 0 10px 10px;
  padding: 4px 0;
  font-weight: bold;
}

form.charsheet div.textblock textarea {
  border: 1px solid black;
}

form.charsheet ul {
  margin: 0;
  padding: 0;
}

form.charsheet ::placeholder {
  color: #bbb;
}

form.charsheet header {
  display: flex;
  align-items: stretch;
}

section.charname,
section.spellcastingability {
  border: var(--box-border);
  border-right: 0;
  border-radius: var(--box-border-radius) 0 0 var(--box-border-radius);
  padding: 5px 0;
  background-color: #eee;
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  top: 0;
  margin: auto;
}

section.charname input,
section.spellcastingability input {
  padding: 0.5em;
  margin: 5px;
  border: 0;
  background-color: inherit;
}

section.charname label,
section.spellcastingability label {
  padding-left: 1em;
}

form.charsheet header section.misc {
  width: 70%;
  border: var(--box-border);
  border-radius: var(--box-border-radius);
  padding-left: 1em;
  padding-right: 1em;
}

form.charsheet header section.misc ul {
  padding: 10px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
}

form.charsheet header section.misc ul li {
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1em;
}

section.misc label {
  margin-bottom: 5px;
}

form.charsheet header section.misc ul li input {
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

div.box-label-container {
  position: relative;
  width: 100%;
  height: 1.2rem;
  margin-top: 0.25rem;
  border: var(--box-border);
  border-left: 0;
  text-align: center;
}

main > section {
  width: 32%;
  display: flex;
  flex-direction: column;
}

section.attributes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.attributes > div:nth-child(1) {
  width: 30%;
}

section.attributes > div:nth-child(2) {
  width: 65%;
}

section.attributes div.scores {
  width: 30%;
  background-color: #bbb;
  border-radius: 10px;
  padding-bottom: 5px;
}

section.attributes div.scores ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

section.attributes div.scores ul li {
  width: min(90%, 75px);
  text-align: center;
  display: flex;
  flex-direction: column;
}

section.attributes div.scores ul li input {
  width: 100%;
  padding: 0;
  border: 0;
}

section.attributes div.scores ul li div.score input {
  text-align: center;
  font-size: var(--font-size-xxl);
  padding: 2px 0px 0px 0px;
  background: white;
}

section.attributes div.scores div.modifier {
  margin-top: 3px;
}

section.attributes div.scores div.modifier input {
  background: white;
  width: 40%;
  border: var(--box-border);
  border-radius: 20px;
  text-align: center;
}

div.proficiencybonus,
.large-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.large-checkbox input {
  margin-right: -0.2rem;
}

.large-checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2rem;
  height: 1.6rem;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
}

section.attributes li {
  display: flex;
  align-items: center;
}

li.score-mod-with-prof > * {
  margin-left: 5px;
}

li.score-mod-with-prof label span.skill {
  color: #bbb;
}

li.score-mod-with-prof input[type="text"] {
  width: 30px;
  font-size: var(--font-size-ms);
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
}

li.score-mod-with-prof input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
  border: 1px solid black;
}

section div.passive-perception {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

form.charsheet main > section div.otherprofs textarea {
  height: 24em;
}

section.combat {
  padding: var(--innerbox-spacing);
}

section.combat {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

section.combat > div {
  overflow: hidden;
}

div#combat-stats,
div#hitdice-deathsaves {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

div.armorclass > div,
div.initiative > div,
div.speed > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

div.armorclass label,
div.initiative label,
div.speed label {
  font-size: var(--font-size-xs);
  width: 70%;
}

div.armorclass input,
div.initiative input,
div.speed input {
  width: 85%;
  aspect-ratio: 1;
  border-radius: var(--box-border-radius);
  border: var(--box-border);
  text-align: center;
  font-size: var(--font-size-xl);
}

div.hp {
  flex-basis: 100%;
}

div.max {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

div.max label {
  text-transform: none;
  color: #bbb;
}

div.max input {
  width: 40%;
  border: 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

div#current-temporary-hp {
  display: flex;
  flex-direction: row;
}

div#current-hp,
div#temporary-hp {
  display: flex;
  flex-direction: column-reverse;
}

div#current-hp input,
div#temporary-hp input {
  border: 0;
  width: 100%;
  padding: 1em 0;
  font-size: var(--font-size-m);
  text-align: center;
}

div#hitdice-deathsaves {
  justify-content: space-between;
}

div.hitdice,
div.deathsaves {
  width: 45%;
}

div.hitdice div.total {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 5px 0;
}

div.hitdice div.total label {
  font-size: var(--font-size-s);
  color: #bbb;
  margin: 0.25em;
  text-transform: none;
}

div.hitdice div.total input {
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 50%;
  padding: 0 0.25em;
  text-align: center;
}

div.hitdice div.remaining {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}

div.hitdice div.remaining input {
  text-align: center;
  border: 0;
  flex: 1;
}

div.deathsaves {
  display: flex;
  flex-direction: column-reverse;
}

div.deathsaves div.marks {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

div.deathsaves div.marks div.deathsuccesses,
div.deathsaves div.marks div.deathfails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.deathsaves div.marks div.deathsuccesses label,
div.deathsaves div.marks div.deathfails label {
  font-size: var(--font-size-xs);
}

div.deathsaves div.bubbles {
  display: flex;
  font-size: var(--font-size-xs);
  width: 50%;
  justify-content: space-between;
}

input[type="checkbox"].bubble {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

input[type="checkbox"]:checked {
  background-color: black;
}

section.attacksandspellcasting > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

section.attacksandspellcasting table {
  width: 100%;
}

section.attacksandspellcasting table th {
  font-size: var(--font-size-s);
  color: #ddd;
}

section.attacksandspellcasting table input {
  width: calc(100% - 4px);
  border: 0;
  background-color: #eee;
  font-size: var(--font-size-ms);
  padding: 3px;
}

section.attacksandspellcasting > div textarea {
  border: 0;
}

section.equipment textarea {
  height: 30em;
}

section.equipment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.equipment div.money {
  flex: 1;
  padding-top: 2em;
}

section.equipment div.money ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 1em;
}

section.equipment div.money ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.equipment div.money ul > li label {
  border: 1px solid black;
  border-radius: 4px;
  border-top: 0px;
  width: 20px;
  font-size: var(--font-size-xs);
  text-align: center;
  padding: 3px 0;
}

section.equipment div.money ul > li input {
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  padding: 10px 3px;
  font-size: var(--font-size-s);
  text-align: center;
}

section.flavor div {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  border: var(--box-border);
}

section.flavor textarea {
  border: 0;
  height: 6em;
  padding: 0.5em;
  width: initial;
}

section.flavor div:first-child {
  border-radius: 10px 10px 0 0;
}

section.flavor div:not(:first-child) {
  margin-top: 10px;
}

section.flavor div:last-child {
  border-radius: 0 0 10px 10px;
}

section.features div textarea {
  height: 42em;
}

div.spell-list-column {
  width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size);
}

div.spells-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-align: center;
}

div.spell-list li > div {
  width: 100%;
}

div.cantrips li > div {
  padding-left: 1.8em;
}
div.spell-list ul {
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
}
#col3 ul {
  padding-bottom: 2em;
}

div.spell-list ul li {
  display: flex;
  flex-direction: row;
  height: 25px;
  align-items: center;
  height: 2em;
  border-bottom: 1px solid #cccccc;
}

div.spell-list input[type="checkbox"].bubble {
  margin-right: 10px;
}

div.spell-list input {
  border: none;
  width: 95%;
}

div.spells-slots-container {
  width: 100%;
  border: 1px solid black;
  flex-direction: row;
  display: flex;
}

div.spells-slots-available,
div.spells-slots-total {
  display: flex;
}

div.spells-slots-available input,
div.spells-slots-total input {
  flex: 1;
  width: 49%;
  border: 0;
  text-align: center;
}

div.spells-slots-available input {
  border-right: 1px solid black;
}

header label {
  margin-top: 5px;
  padding-bottom: 5px;
  color: gray;
}

section.spellcastingability select {
  margin-left: 10px;
  margin-right: 10px;
  background-color: inherit;
  border: 0;
}

input[name="charname"] {
  font-weight: bold;
  font-size: 0.95rem;
}

input#updatesheet {
  position: absolute;
  top: 2%;
  right: 5%;
}

div#dailypreparedspells {
  display: flex;
  flex-direction: row;
}

input#remainingdailyspells {
  text-align: right;
}

header > h1 {
  text-align: center;
}

#custom-resources {
  display: flex;
  flex-direction: row;
}

#custom-resources input {
  border: none;
}

.custom-resource {
  display: flex;
  flex-direction: column-reverse;
}

.custom-resources-inputs {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 80%;
}

.custom-resources-inputs input:nth-of-type(1) {
  text-align: right;
  padding-right: 5%;
}

.custom-resources-inputs input:nth-of-type(2) {
  text-align: left;
  padding-left: 5%;
}

.custom-resource input {
  width: 80%;
  flex: 1;
  text-align: center;
}

input.custom-resource-header {
  font-size: var(--font-size-s);
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.markdown-rendered {
  font-size: var(--font-size);
}

.markdown-rendered li {
  margin-left: 1.5rem;
}
