:root {
    --font-size: 12px;
    --font-size-s: calc(var(--font-size) - 3px);
    --font-size-xs: calc(var(--font-size) - 4px);
    --interbox-spacing: 10px;
    --innerbox-spacing: 10px;
    --box-border-radius: 10px;
}