dnd5esheets/front/src/5esheets-client/** linguist-generated=true
dnd5esheets/front/src/effect-parser/index.ts linguist-generated=true
dnd5esheets/front/openapi.json linguist-generated=true
dnd5esheets/data/*.json linguist-generated=true
