<div id="spells">
  <header>
    <section class="spellcastingability">
      <label for="spellcastingability">{{ _("spellcasting_ability") }}</label>
      <select id="spellcastingability-select" value="{{ character.data['spellcastingability'] }}">
        <option value="Intelligence">
          {{ _("intelligence") | capitalize }}
        </option>
        <option value="Wisdom">{{ _("wisdom") | capitalize }}</option>
        <option value="Charisma">{{ _("charisma") | capitalize }}</option>
      </select>
    </section>
    <section class="misc">
      <ul id="dailyspells">
        <li>
          <label for="dailypreparedspells">{{ _("preparable_spells") }}</label>
          <div id="dailypreparedspells">
            <input id="remainingdailyspells" class="dailypreparedspells" name="remainingdailyspells" />
            /
            <input id="totaldailypreparedspells" class="dailyspells" name="dailypreparedspells"
              value="{{ character.data['dailypreparedspells'] }}" />
          </div>
        </li>
        <li>
          <div class="tooltip">
            <label for="spelldc">{{ _("spell_dc") }}</label><input id="spelldc" name="spelldc" placeholder="10"
              value="{{ character.data['spelldc'] }}" />
            <span class="tooltiptext" id="spelldc-tooltip"></span>
          </div>
        </li>
      </ul>
      <ul id="spellattack">
        <li>
          <label for="extraspellattackbonus">{{ _("extra_spell_attack_bonus") }}</label><input
            id="extraspellattackbonus" name="extraspellattackbonus" placeholder="+1"
            value="{{ character.data['extraspellattackbonus'] }}" />
        </li>
        <li>
          <div class="tooltip">
            <label for="totalspellattackbonus">{{ _("total_spell_attack_bonus") }}</label><input
              id="totalspellattackbonus" name="totalspellattackbonus" placeholder="+1"
              value="{{ character.data['totalspellattackbonus'] }}" />
            <span class="tooltiptext" id="totalspellattackbonus-tooltip"></span>
          </div>
        </li>
      </ul>
    </section>
  </header>
  <main>{% include "spellbook.html" %}</main>
</div>