<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Balthazar Rouberol">
    <meta name="description" content="Character sheets for D&D 5e">
    <meta name="color-scheme" content="dark light">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎲</text></svg>">

    {% block head %}
    {% endblock %}

    <title>Character sheets for D&D 5e</title>
</head>

<body>
    <header>
        {% block title %}{% endblock %}
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>