{% extends "base.html" %}

{% block head %}
<script async src="static/js/index.js" rel="text/javascript"></script>
{% endblock %}
{% block content %}
<form class="charsheet" method="post">
    <header>
        <section class="charname">
            <label for="charname">Character Name</label><input name="charname" placeholder="Irene Wun Kmout"
                value="{{ character.name }}" />
        </section>
        <section class="misc">
            <ul>
                <li>
                    <label for="classlevel">Class & Level</label><input name="classlevel"
                        value="{{ character._class }} {{ character.level }}" />
                </li>
                <li>
                    <label for="background">Background</label><input name="background" placeholder="Acolyte"
                        value="{{ character.data['background'] }}" />
                </li>
                <li>
                    <label for="playername">Player Name</label><input name="playername"
                        placeholder="Player McPlayerface" value="{{ character.data['playername'] }}">
                </li>
                <li>
                    <label for="race">Race</label><input name="race" placeholder="Half-elf"
                        value="{{ character.data['race'] }}" />
                </li>
                <li>
                    <label for="alignment">Alignment</label><input name="alignment" placeholder="Lawful Good"
                        value="{{ character.data['alignment'] }}" />
                </li>
                <li>
                    <label for="experiencepoints">Experience Points</label><input name="experiencepoints"
                        value="{{ character.data['experiencepoints'] }}" placeholder="3240" />
                </li>
            </ul>
        </section>
    </header>
    <main>
        <section>
            <section class="attributes">
                <div class="scores">
                    <ul>
                        <li>
                            <div class="score">
                                <label for="Strengthscore">Strength</label><input name="Strengthscore" placeholder="10"
                                    value="{{ character.data['Strengthscore'] }}" />
                            </div>
                            <div class="modifier">
                                <input name="Strengthmod" placeholder="+0"
                                    value="{{ character.data['Strengthmod'] }}" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Dexterityscore">Dexterity</label><input name="Dexterityscore"
                                    placeholder="10" value="{{ character.data['Dexterityscore'] }}" />
                            </div>
                            <div class="modifier">
                                <input name="Dexteritymod" placeholder="+0"
                                    value="{{ character.data['Dexteritymod'] }}" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Constitutionscore">Constitution</label><input name="Constitutionscore"
                                    placeholder="10" value="{{ character.data['Constitutionscore'] }}" />
                            </div>
                            <div class="modifier">
                                <input name="Constitutionmod" placeholder="+0"
                                    value="{{ character.data['Constitutionmod'] }}" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Wisdomscore">Wisdom</label><input name="Wisdomscore" placeholder="10"
                                    value="{{ character.data['Wisdomscore'] }}" />
                            </div>
                            <div class="modifier">
                                <input name="Wisdommod" placeholder="+0" value="{{ character.data['Wisdommod'] }}" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Intelligencescore">Intelligence</label><input name="Intelligencescore"
                                    value="{{ character.data['Intelligencescore'] }}" placeholder="10" />
                            </div>
                            <div class="modifier">
                                <input name="Intelligencemod" placeholder="+0"
                                    value="{{ character.data['Intelligencemod'] }}" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Charismascore">Charisma</label><input name="Charismascore" placeholder="10"
                                    value="{{ character.data['Charismascore'] }}" />
                            </div>
                            <div class="modifier">
                                <input name="Charismamod" placeholder="+0"
                                    value="{{ character.data['Charismamod'] }}" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="attr-applications">
                    <div class="inspiration box">
                        <div class="label-container">
                            <label for="inspiration">Inspiration</label>
                        </div>
                        <input name="inspiration" type="checkbox" {% if character.data['inspiration'] %}checked{% endif
                            %} />
                    </div>
                    <div class="proficiencybonus box">
                        <div class="label-container">
                            <label for="proficiencybonus">Proficiency Bonus</label>
                        </div>
                        <input name="proficiencybonus" placeholder="+2"
                            value="{{ character.data['proficiencybonus'] }}" />
                    </div>
                    <div class="saves list-section box">
                        <ul>
                            <li>
                                <label for="Strength-save">Strength</label>
                                <input name="Strength-save" placeholder="+0"
                                    value="{{ character.data['Strength-save'] }}" type="text" />
                                <input name="Strength-save-prof" type="checkbox" {% if
                                    character.data['Strength-save-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Dexterity-save">Dexterity</label>
                                <input name="Dexterity-save" value="{{ character.data['Dexterity-save'] }}"
                                    placeholder="+0" type="text" />
                                <input name="Dexterity-save-prof" type="checkbox" {% if
                                    character.data['Dexterity-save-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Constitution-save">Constitution</label>
                                <input name="Constitution-save" value="{{ character.data['Constitution-save'] }}"
                                    placeholder="+0" type="text" />
                                <input name="Constitution-save-prof" type="checkbox" {% if
                                    character.data['Constitution-save-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Wisdom-save">Wisdom</label>
                                <input name="Wisdom-save" placeholder="+0" value="{{ character.data['Wisdom-save'] }}"
                                    type="text" />
                                <input name="Wisdom-save-prof" type="checkbox" {% if character.data['Wisdom-save-prof']
                                    %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Intelligence-save">Intelligence</label>
                                <input name="Intelligence-save" value="{{ character.data['Intelligence-save'] }}"
                                    placeholder="+0" type="text" />
                                <input name="Intelligence-save-prof" type="checkbox" {% if
                                    character.data['Intelligence-save-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Charisma-save">Charisma</label>
                                <input name="Charisma-save" placeholder="+0"
                                    value="{{ character.data['Charisma-save'] }}" type="text" />
                                <input name="Charisma-save-prof" type="checkbox" {% if
                                    character.data['Charisma-save-prof'] %}checked{% endif %} />
                            </li>
                        </ul>
                        <div class="label">
                            Saving Throws
                        </div>
                    </div>
                    <div class="skills list-section box">
                        <ul>
                            <li>
                                <label for="Acrobatics">Acrobatics <span class="skill">(Dex)</span></label><input
                                    name="Acrobatics" placeholder="+0" type="text"
                                    value="{{ character.data['Acrobatics'] }}" /><input name="Acrobatics-prof"
                                    type="checkbox" {% if character.data['Acrobatics-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Animal Handling">Animal Handling <span
                                        class="skill">(Wis)</span></label><input name="Animal Handling" placeholder="+0"
                                    type="text" value="{{ character.data['Animal Handling'] }}" /><input
                                    name="Animal-Handling-prof" type="checkbox" {% if
                                    character.data['Animal-Handling-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Arcana">Arcana <span class="skill">(Int)</span></label><input name="Arcana"
                                    placeholder="+0" type="text" value="{{ character.data['Arcana'] }}" /><input
                                    name="Arcana-prof" type="checkbox" {% if character.data['Arcana-prof'] %}checked{%
                                    endif %} />
                            </li>
                            <li>
                                <label for="Athletics">Athletics <span class="skill">(Str)</span></label><input
                                    name="Athletics" placeholder="+0" type="text"
                                    value="{{ character.data['Athletics'] }}" /><input name="Athletics-prof"
                                    type="checkbox" {% if character.data['Athletics-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Deception">Deception <span class="skill">(Cha)</span></label><input
                                    name="Deception" placeholder="+0" type="text"
                                    value="{{ character.data['Deception'] }}" /><input name="Deception-prof"
                                    type="checkbox" {% if character.data['Deception-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="History">History <span class="skill">(Int)</span></label><input
                                    name="History" placeholder="+0" type="text"
                                    value="{{ character.data['History'] }}" /><input name="History-prof" type="checkbox"
                                    {% if character.data['History-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Insight">Insight <span class="skill">(Wis)</span></label><input
                                    name="Insight" placeholder="+0" type="text"
                                    value="{{ character.data['Insight'] }}" /><input name="Insight-prof" type="checkbox"
                                    {% if character.data['Insight-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Intimidation">Intimidation <span class="skill">(Cha)</span></label><input
                                    name="Intimidation" placeholder="+0" type="text"
                                    value="{{ character.data['Intimidation'] }}" /><input name="Intimidation-prof"
                                    type="checkbox" {% if character.data['Intimidation'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Investigation">Investigation <span class="skill">(Int)</span></label><input
                                    name="Investigation" placeholder="+0" type="text"
                                    value="{{ character.data['Investigation'] }}" /><input name="Investigation-prof"
                                    type="checkbox" {% if character.data['Investigation-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Medicine">Medicine <span class="skill">(Wis)</span></label><input
                                    name="Medicine" placeholder="+0" type="text"
                                    value="{{ character.data['Medicine'] }}" /><input name="Medicine-prof"
                                    type="checkbox" {% if character.data['Medicine-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Nature">Nature <span class="skill">(Int)</span></label><input name="Nature"
                                    placeholder="+0" type="text" value="{{ character.data['Nature'] }}" /><input
                                    name="Nature-prof" type="checkbox" {% if character.data['Nature-prof'] %}checked{%
                                    endif %} />
                            </li>
                            <li>
                                <label for="Perception">Perception <span class="skill">(Wis)</span></label><input
                                    name="Perception" placeholder="+0" type="text"
                                    value="{{ character.data['Perception'] }}" /><input name="Perception-prof"
                                    type="checkbox" {% if character.data['Perception-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Performance">Performance <span class="skill">(Cha)</span></label><input
                                    name="Performance" placeholder="+0" type="text"
                                    value="{{ character.data['Performance'] }}" /><input name="Performance-prof"
                                    type="checkbox" {% if character.data['Performance-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Persuasion">Persuasion <span class="skill">(Cha)</span></label><input
                                    name="Persuasion" placeholder="+0" type="text"
                                    value="{{ character.data['Persuasion'] }}" /><input name="Persuasion-prof"
                                    type="checkbox" {% if character.data['Persuasion-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Religion">Religion <span class="skill">(Int)</span></label><input
                                    name="Religion" placeholder="+0" type="text"
                                    value="{{ character.data['Religion'] }}" /><input name="Religion-prof"
                                    type="checkbox" {% if character.data['Religion-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Sleight of Hand">Sleight of Hand <span
                                        class="skill">(Dex)</span></label><input name="Sleight of Hand" placeholder="+0"
                                    type="text" value="{{ character.data['Sleight of Hand'] }}" /><input
                                    name="Sleight-of-Hand-prof" type="checkbox" {% if
                                    character.data['Sleight-of-Hand-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Stealth">Stealth <span class="skill">(Dex)</span></label><input
                                    name="Stealth" placeholder="+0" type="text"
                                    value="{{ character.data['Stealth'] }}" /><input name="Stealth-prof" type="checkbox"
                                    {% if character.data['Stealth-prof'] %}checked{% endif %} />
                            </li>
                            <li>
                                <label for="Survival">Survival <span class="skill">(Wis)</span></label><input
                                    name="Survival" placeholder="+0" type="text"
                                    value="{{ character.data['Survival'] }}" /><input name="Survival-prof"
                                    type="checkbox" {% if character.data['Survival-prof'] %}checked{% endif %} />
                            </li>
                        </ul>
                        <div class="label">
                            Skills
                        </div>
                    </div>
                </div>
            </section>
            <div class="passive-perception box">
                <div class="label-container">
                    <label for="passiveperception">Passive Wisdom (Perception)</label>
                </div>
                <input name="passiveperception" placeholder="10" value="{{ character.data['passiveperception'] }}" />
            </div>
            <div class="otherprofs box textblock">
                <label for="otherprofs">Other Proficiencies and Languages</label><textarea
                    name="otherprofs">{{ character.data['otherprofs'] }}</textarea>
            </div>
        </section>
        <section>
            <section class="combat">
                <div class="armorclass">
                    <div>
                        <label for="ac">Armor Class</label><input name="ac" placeholder="10" type="text"
                            value="{{ character.data['ac']}}" />
                    </div>
                </div>
                <div class="initiative">
                    <div>
                        <label for="initiative">Initiative</label><input name="initiative" placeholder="+0" type="text"
                            value="{{ character.data['initiative'] }}" />
                    </div>
                </div>
                <div class="speed">
                    <div>
                        <label for="speed">Speed</label><input name="speed" placeholder="30" type="text"
                            value="{{ character.data['speed'] }}" />
                    </div>
                </div>
                <div class="hp">
                    <div class="regular">
                        <div class="max">
                            <label for="maxhp">Hit Point Maximum</label><input name="maxhp" placeholder="10" type="text"
                                value="{{ character.data['maxhp'] }}" />
                        </div>
                        <div class="current">
                            <label for="currenthp">Current Hit Points</label><input name="currenthp" type="text"
                                value="{{ character.data['currenthp'] }}" />
                        </div>
                    </div>
                    <div class="temporary">
                        <label for="temphp">Temporary Hit Points</label><input name="temphp" type="text"
                            value="{{ character.data['temphp'] }}" />
                    </div>
                </div>
                <div class="hitdice">
                    <div>
                        <div class="total">
                            <label for="totalhd">Total</label><input name="totalhd" placeholder="2d10" type="text"
                                value="{{ character.data['totalhd'] }}" />
                        </div>
                        <div class="remaining">
                            <label for="remaininghd">Hit Dice</label><input name="remaininghd" type="text"
                                value="{{ character.data['remaininghd'] }}" />
                        </div>
                    </div>
                </div>
                <div class="deathsaves">
                    <div>
                        <div class="label">
                            <label>Death Saves</label>
                        </div>
                        <div class="marks">
                            <div class="deathsuccesses">
                                <label>Successes</label>
                                <div class="bubbles">
                                    <input name="deathsuccess1" type="checkbox" {% if character.data['deathsuccess1']
                                        %}checked{% endif %} />
                                    <input name="deathsuccess2" type="checkbox" {% if character.data['deathsuccess2']
                                        %}checked{% endif %} />
                                    <input name="deathsuccess3" type="checkbox" {% if character.data['deathsuccess3']
                                        %}checked{% endif %} />
                                </div>
                            </div>
                            <div class="deathfails">
                                <label>Failures</label>
                                <div class="bubbles">
                                    <input name="deathfail1" type="checkbox" {% if character.data['deathfail1']
                                        %}checked{% endif %} />
                                    <input name="deathfail2" type="checkbox" {% if character.data['deathfail2']
                                        %}checked{% endif %} />
                                    <input name="deathfail3" type="checkbox" {% if character.data['deathfail3']
                                        %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="attacksandspellcasting">
                <div>
                    <label>Attacks</label>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Atk Bonus
                                </th>
                                <th>
                                    Damage/Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input name="atkname1" type="text" value="{{ character.data['atkname1'] }}" />
                                </td>
                                <td>
                                    <input name="atkbonus1" type="text" value="{{ character.data['atkbonus1'] }}" />
                                </td>
                                <td>
                                    <input name="atkdamage1" type="text" value="{{ character.data['atkdamage1'] }}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="atkname2" type="text" value="{{ character.data['atkname2'] }}" />
                                </td>
                                <td>
                                    <input name="atkbonus2" type="text" value="{{ character.data['atkbonus2'] }}" />
                                </td>
                                <td>
                                    <input name="atkdamage2" type="text" value="{{ character.data['atkdamage2'] }}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="atkname3" type="text" value="{{ character.data['atkname3'] }}" />
                                </td>
                                <td>
                                    <input name="atkbonus3" type="text" value="{{ character.data['atkbonus3'] }}" />
                                </td>
                                <td>
                                    <input name="atkdamage3" type="text" value="{{ character.data['atkdamage3'] }}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="equipment">
                <div>
                    <label>Equipment</label>
                    <textarea placeholder="Equipment list here"
                        name="equipment">{{ character.data['equipment'] }}</textarea>
                    <div class="money">
                        <ul>
                            <li class="coin-type">
                                <input placeholder="0" name="cp" value="{{ character.data['cp'] }}" /><label
                                    for="cp">cp</label>
                            </li>
                            <li class="coin-type">
                                <input placeholder="0" name="sp" value="{{ character.data['sp'] }}" /><label
                                    for="sp">sp</label>
                            </li>
                            <li class="coin-type">
                                <input placeholder="0" name="ep" value="{{ character.data['ep'] }}" /><label
                                    for="ep">ep</label>
                            </li>
                            <li class="coin-type">
                                <input placeholder="0" name="gp" value="{{ character.data['gp'] }}" /><label
                                    for="gp">gp</label>
                            </li>
                            <li class="coin-type">
                                <input placeholder="0" name="pp" value="{{ character.data['pp'] }}" /><label
                                    for="pp">pp</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
        <section>
            <section class="flavor">
                <div class="personality">
                    <label for="personality">Personality</label><textarea
                        name="personality">{{ character.data['personality'] }}</textarea>
                </div>
                <div class="ideals">
                    <label for="ideals">Ideals</label><textarea name="ideals">{{ character.data['ideals'] }}</textarea>
                </div>
                <div class="bonds">
                    <label for="bonds">Bonds</label><textarea name="bonds">{{ character.data['bonds'] }}</textarea>
                </div>
                <div class="flaws">
                    <label for="flaws">Flaws</label><textarea name="flaws">{{ character.data['flows'] }}</textarea>
                </div>
            </section>
            <section class="features">
                <div>
                    <label for="features">Features & Traits</label><textarea
                        name="features">{{ character.data['features'] }}</textarea>
                </div>
            </section>
        </section>
    </main>
    <input type="submit" value="Update">
</form>
{% endblock %}