<div id="page2">
  <header>
    <section class="spellcastingability">
      <label for="spellcastingability">Spellcasting Ability</label>
      <select id="spellcastingability-select" value="{{ character.data['spellcastingability'] }}">
        <option value="Intelligence">Intelligence</option>
        <option value="Wisdom">Wisdom</option>
        <option value="Charisma">Charisma</option>
      </select>
    </section>
    <section class="misc">
      <ul>
        <li>
          <label for="dailyspells">Daily spells</label><input name="dailyspells"
            value="{{ character.data['dailyspells'] }}" />
        </li>
        <li>
          <label for="dailyspells">Daily prepared spells</label><input name="dailyspells"
            value="{{ character.data['dailyspells'] }}" />
        </li>
        <li>
          <label for="spelldc">Spell DC</label><input id="spelldc" name="spelldc" placeholder="10"
            value="{{ character.data['spelldc'] }}" />
        </li>
        <li>
          <label for="playername">Extra spell attack bonus</label><input id="extraspellattackbonus"
            name="extraspellattackbonus" placeholder="+1" value="{{ character.data['extraspellattackbonus'] }}">
        </li>
        <li>
          <label for="playername">Total spell attack bonus</label><input id="totalspellattackbonus"
            name="totalspellattackbonus" placeholder="+1" value="{{ character.data['totalspellattackbonus'] }}">
        </li>
      </ul>
    </section>
  </header>
  <main>
    <section class="spell-list-column">
      <div id="col1" class="spell-list-column">
        <div id="cantrips">
          <div class="spells-header">
            <div class="spells-level">0</div>
            <div class="spells-slots-container"></div>
          </div>
          <div class="spell-list">
            <ul>
              <li><input type="text" name="cantrip-1" value="{{ character.data['cantrip-1'] }}"></li>
              <li><input type="text" name="cantrip-2" value="{{ character.data['cantrip-2'] }}"></li>
              <li><input type="text" name="cantrip-3" value="{{ character.data['cantrip-3'] }}"></li>
              <li><input type="text" name="cantrip-4" value="{{ character.data['cantrip-4'] }}"></li>
              <li><input type="text" name="cantrip-5" value="{{ character.data['cantrip-5'] }}"></li>
              <li><input type="text" name="cantrip-6" value="{{ character.data['cantrip-6'] }}"></li>
              <li><input type="text" name="cantrip-7" value="{{ character.data['cantrip-7'] }}"></li>
              <li><input type="text" name="cantrip-8" value="{{ character.data['cantrip-8'] }}"></li>
            </ul>
          </div>
        </div>
        <div id="spells-lvl1" class="spell-list-for-lvl">
          <div class="spells-header">
            <div class="spells-level">1</div>
            <div class="spells-slots-container">
              <div class="spells-slots-available"><input name="spells-slots-available-lvl1" type="text">
              </div>
              <div class="spells-slots-total"><input name="spells-slots-total-lvl1" type="text"></div>
            </div>
          </div>
          <div class="spell-list">
            <ul>
              <li><input class="bubble" name="spells-lvl1-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-1-prepped'] %}checked{% endif %} /><input type="text" name="spells-lvl1-1"
                  value="{{ character.data['spells-lvl1-1'] }}"></li>
              <li><input class="bubble" name="spells-lvl1-2-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-2" value="{{ character.data['spells-lvl1-2'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-3-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-3" value="{{ character.data['spells-lvl1-3'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-4-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-4" value="{{ character.data['spells-lvl1-4'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-5-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-5" value="{{ character.data['spells-lvl1-5'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-6-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-6" value="{{ character.data['spells-lvl1-6'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-7-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-7" value="{{ character.data['spells-lvl1-7'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-8-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-8-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-8" value="{{ character.data['spells-lvl1-8'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-9-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-9-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-9" value="{{ character.data['spells-lvl1-9'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-10-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-10-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-10" value="{{ character.data['spells-lvl1-10'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-11-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-11-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-11" value="{{ character.data['spells-lvl1-11'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-12-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-12-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-12" value="{{ character.data['spells-lvl1-12'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl1-13-prepped" type="checkbox" {% if
                  character.data['spells-lvl1-13-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl1-13" value="{{ character.data['spells-lvl1-13'] }}">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="spells-lvl2" class="spell-list-for-lvl">
        <div class="spells-header">
          <div class="spells-level">2</div>
          <div class="spells-slots-container">
            <div class="spells-slots-available"><input name="spells-slots-available-lvl2" type="text">
            </div>
            <div class="spells-slots-total"><input name="spells-slots-total-lvl2" type="text"></div>
          </div>
        </div>
        <div class="spell-list">
          <ul>
            <li><input class="bubble" name="spells-lvl2-1-prepped" type="checkbox" {% if
                character.data['spells-lvl2-1-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-1" value="{{ character.data['spells-lvl2-1'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-2-prepped" type="checkbox" {% if
                character.data['spells-lvl2-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-2" value="{{ character.data['spells-lvl2-2'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-3-prepped" type="checkbox" {% if
                character.data['spells-lvl2-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-3" value="{{ character.data['spells-lvl2-3'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-4-prepped" type="checkbox" {% if
                character.data['spells-lvl2-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-4" value="{{ character.data['spells-lvl2-4'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-5-prepped" type="checkbox" {% if
                character.data['spells-lvl2-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-5" value="{{ character.data['spells-lvl2-5'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-6-prepped" type="checkbox" {% if
                character.data['spells-lvl2-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-6" value="{{ character.data['spells-lvl2-6'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-7-prepped" type="checkbox" {% if
                character.data['spells-lvl2-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-7" value="{{ character.data['spells-lvl2-7'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-8-prepped" type="checkbox" {% if
                character.data['spells-lvl2-8-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-8" value="{{ character.data['spells-lvl2-8'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-9-prepped" type="checkbox" {% if
                character.data['spells-lvl2-9-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-9" value="{{ character.data['spells-lvl2-9'] }}"></li>
            <li><input class="bubble" name="spells-lvl2-10-prepped" type="checkbox" {% if
                character.data['spells-lvl2-10-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-10" value="{{ character.data['spells-lvl2-10'] }}">
            </li>
            <li><input class="bubble" name="spells-lvl2-11-prepped" type="checkbox" {% if
                character.data['spells-lvl2-11-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-11" value="{{ character.data['spells-lvl2-11'] }}">
            </li>
            <li><input class="bubble" name="spells-lvl2-12-prepped" type="checkbox" {% if
                character.data['spells-lvl2-12-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-12" value="{{ character.data['spells-lvl2-12'] }}">
            </li>
            <li><input class="bubble" name="spells-lvl2-13-prepped" type="checkbox" {% if
                character.data['spells-lvl2-13-prepped'] %}checked{% endif %} /><input type="text" type="text"
                name="spells-lvl2-13" value="{{ character.data['spells-lvl2-13'] }}">
            </li>
          </ul>
        </div>
      </div>

    </section>
    <section class="spell-list-column">
      <div id="col2" class="spell-list-column">
        <div id="spells-lvl3" class="spell-list-for-lvl">
          <div class="spells-header">
            <div class="spells-level">3</div>
            <div class="spells-slots-container">
              <div class="spells-slots-available"><input name="spells-slots-available-lvl3" type="text">
              </div>
              <div class="spells-slots-total"><input name="spells-slots-total-lvl3" type="text"></div>
            </div>
          </div>
          <div class="spell-list">
            <ul>
              <li><input class="bubble" name="spells-lvl3-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-1-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-1" value="{{ character.data['spells-lvl3-1'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-2-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-2" value="{{ character.data['spells-lvl3-2'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-3-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-3" value="{{ character.data['spells-lvl3-3'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-4-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-4" value="{{ character.data['spells-lvl3-4'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-5-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-5" value="{{ character.data['spells-lvl3-5'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-6-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-6" value="{{ character.data['spells-lvl3-6'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-7-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-7" value="{{ character.data['spells-lvl3-7'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-8-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-8-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-8" value="{{ character.data['spells-lvl3-8'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-9-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-9-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-9" value="{{ character.data['spells-lvl3-9'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-10-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-10-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-10" value="{{ character.data['spells-lvl3-10'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-11-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-11-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-11" value="{{ character.data['spells-lvl3-11'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-12-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-12-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-12" value="{{ character.data['spells-lvl3-12'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl3-13-prepped" type="checkbox" {% if
                  character.data['spells-lvl3-13-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl3-13" value="{{ character.data['spells-lvl3-13'] }}">
              </li>
            </ul>
          </div>
        </div>
        <div id="spells-lvl4" class="spell-list-for-lvl">
          <div class="spells-header">
            <div class="spells-level">4</div>
            <div class="spells-slots-container">
              <div class="spells-slots-available"><input name="spells-slots-available-lvl4" type="text">
              </div>
              <div class="spells-slots-total"><input name="spells-slots-total-lvl4" type="text"></div>
            </div>
          </div>
          <div class="spell-list">
            <ul>
              <li><input class="bubble" name="spells-lvl4-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-1-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-1" value="{{ character.data['spells-lvl4-1'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-2-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-2" value="{{ character.data['spells-lvl4-2'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-3-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-3" value="{{ character.data['spells-lvl4-3'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-4-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-4" value="{{ character.data['spells-lvl4-4'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-5-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-5" value="{{ character.data['spells-lvl4-5'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-6-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-6" value="{{ character.data['spells-lvl4-6'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-7-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-7" value="{{ character.data['spells-lvl4-7'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-8-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-8-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-8" value="{{ character.data['spells-lvl4-8'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-9-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-9-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-9" value="{{ character.data['spells-lvl4-9'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-10-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-10-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-10" value="{{ character.data['spells-lvl4-10'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-11-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-11-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-11" value="{{ character.data['spells-lvl4-11'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl4-12-prepped" type="checkbox" {% if
                  character.data['spells-lvl4-12-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl4-12" value="{{ character.data['spells-lvl4-12'] }}">
              </li>
            </ul>
          </div>
          <div id="spells-lvl5" class="spell-list-for-lvl">
            <div class="spells-header">
              <div class="spells-level">5</div>
              <div class="spells-slots-container">
                <div class="spells-slots-available"><input name="spells-slots-available-lvl5" type="text">
                </div>
                <div class="spells-slots-total"><input name="spells-slots-total-lvl5" type="text"></div>
              </div>
            </div>
            <div class="spell-list">
              <ul>
                <li><input class="bubble" name="spells-lvl5-1-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-1-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-1" value="{{ character.data['spells-lvl5-1'] }}"></li>
                <li><input class="bubble" name="spells-lvl5-2-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-2" value="{{ character.data['spells-lvl5-2'] }}"></li>
                <li><input class="bubble" name="spells-lvl5-3-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-3" value="{{ character.data['spells-lvl5-3'] }}"></li>
                <li><input class="bubble" name="spells-lvl5-4-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-4" value="{{ character.data['spells-lvl5-4'] }}"></li>
                <li><input class="bubble" name="spells-lvl5-5-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-5" value="{{ character.data['spells-lvl5-5'] }}"></li>
                <li><input class="bubble" name="spells-lvl5-6-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-6" value="{{ character.data['spells-lvl5-6'] }}"></li>
                <li><input class="bubble" name="spells-lvl5-7-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-7" value="{{ character.data['spells-lvl5-7'] }}"></li>
                <li><input class="bubble" name="spells-lvl5-8-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-8-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-8" value="{{ character.data['spells-lvl5-8'] }}"></li>
                <li><input class="bubble" name="spells-lvl5-9-prepped" type="checkbox" {% if
                    character.data['spells-lvl5-9-prepped'] %}checked{% endif %} /><input type="text" type="text"
                    name="spells-lvl5-9" value="{{ character.data['spells-lvl5-9'] }}"></li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    <section class="spell-list-column">
      <div id="col3" class="spell-list-column">
        <div id="spells-lvl6" class="spell-list-for-lvl">
          <div class="spells-header">
            <div class="spells-level">6</div>
            <div class="spells-slots-container">
              <div class="spells-slots-available"><input name="spells-slots-available-lvl6" type="text">
              </div>
              <div class="spells-slots-total"><input name="spells-slots-total-lvl6" type="text"></div>
            </div>
          </div>
          <div class="spell-list">
            <ul>
              <li><input class="bubble" name="spells-lvl6-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-1-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-1" value="{{ character.data['spells-lvl6-1'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl6-2-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-2" value="{{ character.data['spells-lvl6-2'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl6-3-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-3" value="{{ character.data['spells-lvl6-3'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl6-4-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-4" value="{{ character.data['spells-lvl6-4'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl6-5-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-5" value="{{ character.data['spells-lvl6-5'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl6-6-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-6" value="{{ character.data['spells-lvl6-6'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl6-7-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-7" value="{{ character.data['spells-lvl6-7'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl6-8-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-8-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-8" value="{{ character.data['spells-lvl6-8'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl6-9-prepped" type="checkbox" {% if
                  character.data['spells-lvl6-9-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl6-9" value="{{ character.data['spells-lvl6-9'] }}">
              </li>
            </ul>
          </div>
        </div>
        <div id="spells-lvl7" class="spell-list-for-lvl">
          <div class="spells-header">
            <div class="spells-level">7</div>
            <div class="spells-slots-container">
              <div class="spells-slots-available"><input name="spells-slots-available-lvl7" type="text">
              </div>
              <div class="spells-slots-total"><input name="spells-slots-total-lvl7" type="text"></div>
            </div>
          </div>
          <div class="spell-list">
            <ul>
              <li><input class="bubble" name="spells-lvl7-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl7-1-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl7-1" value="{{ character.data['spells-lvl7-1'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl7-2-prepped" type="checkbox" {% if
                  character.data['spells-lvl7-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl7-2" value="{{ character.data['spells-lvl7-2'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl7-3-prepped" type="checkbox" {% if
                  character.data['spells-lvl7-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl7-3" value="{{ character.data['spells-lvl7-3'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl7-4-prepped" type="checkbox" {% if
                  character.data['spells-lvl7-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl7-4" value="{{ character.data['spells-lvl7-4'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl7-5-prepped" type="checkbox" {% if
                  character.data['spells-lvl7-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl7-5" value="{{ character.data['spells-lvl7-5'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl7-6-prepped" type="checkbox" {% if
                  character.data['spells-lvl7-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl7-6" value="{{ character.data['spells-lvl7-6'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl7-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl7-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl7-7" value="{{ character.data['spells-lvl7-7'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl7-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl7-8-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl7-8" value="{{ character.data['spells-lvl7-8'] }}">
              </li>
            </ul>
          </div>
        </div>
        <div id="spells-lvl8" class="spell-list-for-lvl">
          <div class="spells-header">
            <div class="spells-level">8</div>
            <div class="spells-slots-container">
              <div class="spells-slots-available"><input name="spells-slots-available-lvl8" type="text">
              </div>
              <div class="spells-slots-total"><input name="spells-slots-total-lvl8" type="text"></div>
            </div>
          </div>
          <div class="spell-list">
            <ul>
              <li><input class="bubble" name="spells-lvl8-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl8-1-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl8-1" value="{{ character.data['spells-lvl8-1'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl8-2-prepped" type="checkbox" {% if
                  character.data['spells-lvl8-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl8-2" value="{{ character.data['spells-lvl8-2'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl8-3-prepped" type="checkbox" {% if
                  character.data['spells-lvl8-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl8-3" value="{{ character.data['spells-lvl8-3'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl8-4-prepped" type="checkbox" {% if
                  character.data['spells-lvl8-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl8-4" value="{{ character.data['spells-lvl8-4'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl8-5-prepped" type="checkbox" {% if
                  character.data['spells-lvl8-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl8-5" value="{{ character.data['spells-lvl8-5'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl8-6-prepped" type="checkbox" {% if
                  character.data['spells-lvl8-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl8-6" value="{{ character.data['spells-lvl8-6'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl8-7-prepped" type="checkbox" {% if
                  character.data['spells-lvl8-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl8-7" value="{{ character.data['spells-lvl8-7'] }}">
              </li>
            </ul>
          </div>
        </div>
        <div id="spells-lvl9" class="spell-list-for-lvl">
          <div class="spells-header">
            <div class="spells-level">9</div>
            <div class="spells-slots-container">
              <div class="spells-slots-available"><input name="spells-slots-available-lvl9" type="text">
              </div>
              <div class="spells-slots-total"><input name="spells-slots-total-lvl9" type="text"></div>
            </div>
          </div>
          <div class="spell-list">
            <ul>
              <li><input class="bubble" name="spells-lvl9-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl9-1-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl9-1" value="{{ character.data['spells-lvl9-1'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl9-2-prepped" type="checkbox" {% if
                  character.data['spells-lvl9-2-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl9-2" value="{{ character.data['spells-lvl9-2'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl9-3-prepped" type="checkbox" {% if
                  character.data['spells-lvl9-3-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl9-3" value="{{ character.data['spells-lvl9-3'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl9-4-prepped" type="checkbox" {% if
                  character.data['spells-lvl9-4-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl9-4" value="{{ character.data['spells-lvl9-4'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl9-5-prepped" type="checkbox" {% if
                  character.data['spells-lvl9-5-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl9-5" value="{{ character.data['spells-lvl9-5'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl9-6-prepped" type="checkbox" {% if
                  character.data['spells-lvl9-6-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl9-6" value="{{ character.data['spells-lvl9-6'] }}">
              </li>
              <li><input class="bubble" name="spells-lvl9-1-prepped" type="checkbox" {% if
                  character.data['spells-lvl9-7-prepped'] %}checked{% endif %} /><input type="text" type="text"
                  name="spells-lvl9-7" value="{{ character.data['spells-lvl9-7'] }}">
              </li>
            </ul>
          </div>
        </div>

    </section>

  </main>
</div>